* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding:15px;
}
/* header-section */
.header-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    align-items: center;
    /* background-color: tomato;   */
}

nav ul {
    display: flex;
    gap: 30px;
}

nav li{
    list-style: none;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color:#000000;
    font-weight: 500;
}
nav li a:hover {
    color: #469165;
}

.btn {
    color: #FFFFFF;
    background-color:#469165;
    padding: 15px 50px;
    font-size: 18px;
    gap: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color:#3a7a55;
}

/* banner-section */
.banner-section {
    background-image: url(assets/hero-bg.png);
    border-radius: 4px;
    padding: 100px 80px;
}
.banner-container {
    max-width: 770px;
    /*padding: 100px 80px;*/
    text-align: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: tomato; */
}

.banner-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    opacity: 90%;
    color: white;
    
}

.color-blue {
    color:#30B868 ;
}
.banner-content p {
    font-size: 19px;
    letter-spacing: 0.7px;
    font-weight: 300;
    line-height: 24px;
    padding:12px 5px 20px;
    color: #FFFFFF;
}

.btn-2 {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: #469165;
    background-color:#FFFFFF ;
    border-radius: 50px;
    padding: 10px 20px ;
    font-size:20px ;
    font-weight:500;
    margin: 10px 40px;
}
.btn-2:hover {
    background-color: #80c8a0;
}
.info-arrow {
    background-color:  #469165;
    border-radius: 50px;
}
.btn-3 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    background-color:#469165 ;
    border-radius: 5px;
    padding: 20px 20px ;
    font-size:20px ;
    font-weight:400;
    margin: 10px ;
}
.btn-4 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    border: 1px solid white;
    background: none;
    border-radius: 5px;
    padding: 20px 20px ;
    font-size:20px ;
    font-weight:400;
}
 