* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding:15px;
}
/* header-section */
.header-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    align-items: center;
    /* background-color: tomato;   */
}

nav ul {
    display: flex;
    gap: 30px;
}

nav li{
    list-style: none;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color:#000000;
    font-weight: 500;
}
nav li a:hover {
    color: #469165;
}

.btn {
    color: #FFFFFF;
    background-color:#469165;
    padding: 15px 50px;
    font-size: 18px;
    gap: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color:#3a7a55;
}

/* banner-section */
.banner-section {
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    padding: 100px 80px;
}
.banner-container {
    max-width: 770px;
    /*padding: 100px 80px;*/
    text-align: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: tomato; */
}

.banner-title {
    font-size: 34px;
    font-weight: bold;
    line-height: 80px;
    opacity: 90%;
    color: white;
    
}

.color-blue {
    color:#30B868 ;
    letter-spacing: 2.7px;
}
.banner-content p {
    font-size: 19px;
    letter-spacing: 0.7px;
    font-weight: 300;
    line-height: 30px;
    padding:12px 5px 20px;
    color: #FFFFFF;
}

.btn-2 {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: #469165;
    background-color:#FFFFFF ;
    border-radius: 50px;
    padding: 10px 20px ;
    font-size:20px ;
    font-weight:500;
    margin: 10px 40px;
}
.btn-2:hover {
    background-color: #80c8a0;
}
.info-arrow {
    background-color:  #469165;
    border-radius: 50px;
}
.btn-3 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    background-color:#469165;
    border-radius: 5px;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}
.btn-4 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    border: 1px solid white;
    background: none;
    border-radius: 5px;
    padding: 20px 20px;
    font-size:20px;
    font-weight:400;
}
 

/* notes- section */
.notes-title {
    text-align: center;
    align-items: center;
    padding: 40px 0px; 
}
.notes-title h2 {
    font-size: 45px;
    font-weight: bold;
    padding: 15px 0px;

}
.notes-title p {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px;
}
.notes-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 60px 0px;
    flex-direction: wrap;
}
.card {
    text-align: center;
    padding: 10px;
    line-height: 20px;
    border-radius: 5px;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);
}
.card img {
    background-color: #F95555;
    padding: 10px;
    border-radius: 50px;
}
.card h3 {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0px;
    color: 001931;
}
.card p {
    font-size:16px;
    line-height: 20px;
    font-weight: 500;
    color:#627382 ;
    padding: 12px 10px;
}

/* brain-section */
.brain-section {
    padding: 150px;
}
.brain-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
     
}
.brain-image img {
    width: 100%;
    max-width: 520px;
    border-radius: 8px;
    display: block;
    height: auto;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.15); */
}

.brain-content {
    max-width: 700px;
    padding: 0px 100px 0px 0px;
    line-height: 50px;
}

.brain-content h2 {
    font-size:48px;
    font-weight: bold;
    color: #001931;
    padding: 7px 0px;
}

.sub-title-1 {
    color:#469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.description {
    color:#627382;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    padding: 20px 0px 20px;
}

ul li {
    list-style: none;
     
}

li img {
     padding: 0px 15px 0px 0px;
}